@tailwind base;
@tailwind components;
@tailwind utilities;
 
h1 {
  font-family: "Space Grotesk";
}

html {
  overflow-x: hidden;
}

@layer components {

  .navbar-item {
      @apply relative flex items-center justify-center
      h-12 w-auto
    text-blue-300
    hover:text-blue-950;
  }

  h1 {
    @apply text-blue-950
  }
  
}
/*
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5; 
    color: #333; 
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #6b8e23; 
    padding: 1em;
}

h1 {
    margin-bottom: 0;
}

section {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
*/